.projects-white h4 a {
  color: #fff;
}

img.projects-background-svg {
  width: 150%;
}

.projects-background-svg {
  margin: auto 50px;
  margin-top: 100px;
  margin-left: -50px;
}

@media (max-width: 768px) {
  img.projects-background-svg {
    width: 60%;
    margin: -14px 62px;
  }
  
  .projects-background-svg {
    margin: auto auto;
  }
}

@media (max-width: 320px) {
  img.projects-background-svg {
    width: 60%;
    margin: -25px 52px;
  }
}
