img.games-background-svg {
  width: 150%;
}

.games-background-svg {
  margin: auto 50px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  img.games-background-svg {
    width: 95%;
    margin: 8px 6px;
  }
  
  .games-background-svg {
    margin: auto auto;
  }
}

@media (max-width: 320px) {
  img.games-background-svg {
    width: 90%;
    margin: 0px 14px;
  }
}
