.home {
  margin-bottom: 50px;
}

img.main-background-svg {
  width: 140%;
}

.main-background-svg {
  margin: auto 50px;
}

.tab {
  text-align: justify;
  margin-bottom: -20px;
}

@media (max-width: 768px) {
  .home {
    margin-bottom: 10px;
  }

  img.main-background-svg {
    width: 90%;
    margin: 32px 20px;
  }
  
  .main-background-svg {
    margin: auto auto;
  }
}

@media (max-width: 320px) {
  .home {
    margin-bottom: -10px;
  }

  img.main-background-svg {
    width: 85%;
    margin: 20px 22px;
  }
}
