.contact {
  margin-bottom: 50px;
}

.intro-contact {
  display: grid;
  gap: 30px;
  min-height: 100vh;
}

.contact p {
  margin: 10px;
  text-align: center;
}

.contact {
  text-align: center;
  line-height: 2.5;
}

@media (max-width: 768px) {
  .contact-mobile {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .contact h2 {
    margin-bottom: 0px;
  }

  .contact-mobile {
    font-size: 11.4px;
  }
}
