@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #0A1128;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: -30px;
  text-transform: uppercase;
  line-height: 1.2;
}

h3 {
  font-size: 46px;
  margin-bottom: 50px;
  text-transform: uppercase;
  line-height: 1.2;
}

h4 {
  font-size: 25px;
  padding: 10px 0px;
}

h4 a {
  color: #fff;
}

.grid-one-content h4 a {
  color: #0A1128;
  font-weight: 900;
  font-style: normal;
}

.home {
  margin-bottom: 50px;
}

.contact {
  margin-bottom: 50px;
}

.grid-one-content h4 a:hover {
  color:rgba(128, 128, 128, 0.76);
}

.projects-white h4 a {
  color: #fff;
}

h4 a:hover {
  color:rgba(128, 128, 128, 0.76);
}

.mobile a {
  color: #0A1128;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

.main-background {
  color: white;
  background-color: #170a28;
}

img.main-background-svg {
  width: 140%;
}

.main-background-svg {
  margin: auto 50px;
}

img.mobile-background-svg {
  width: 150%;
}

.mobile-background-svg {
  margin: auto 50px;
  margin-top: 100px;
}

img.games-background-svg {
  width: 150%;
}

.games-background-svg {
  margin: auto 50px;
  margin-top: 100px;
}

img.projects-background-svg {
  width: 150%;
}

.projects-background-svg {
  margin: auto 50px;
  margin-top: 100px;
  margin-left: -50px;
}

.white-background {
  background-color: white;
  color: #0A1128;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 30px;
}

.section {
  min-height: 100vh;
}

body .full-width {
  flex: 1 1 100%;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 23px;
  color: #0A1128;
}

.menu h1:hover {
  color:rgba(128, 128, 128, 0.76);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a:hover {
  color:rgba(128, 128, 128, 0.76);
}

.menu ul li a {
  display: block;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #0A1128;
  position: relative;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 30px;
  min-height: 100vh;
}

.grid-one-content {
  display: grid;
  grid-template-columns: 1.15fr 1fr;
  gap: 30px;
  min-height: 100vh;
}

.intro-contact {
  display: grid;
  gap: 30px;
  min-height: 100vh;
}

.intro-text-content {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content a {
  color: white;
  font-style: oblique;
}

.intro-text-content a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.intro-text-content p {
  margin-top: 50px;
}

.grid-main-heading {
  margin-bottom: 30px;
}

.grid-description {
  padding-bottom: 30px;
}

.footer {
  text-align: center;
  font-size: 20px;
}

.footer p {
  color: #0A1128;
  margin: 0;
  padding: 30px;
  font-style: italic;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #0A1128;
  transform: rotate(-90deg);
  border: 1px solid #0A1128;
}

.contact p {
  margin: 10px;
  text-align: center;
}

.contact {
  text-align: center;
  line-height: 2.5;
}

.tab {
  text-align: justify;
  margin-bottom: -20px;
}

.games a{
  color: #0A1128;
}

@media (max-width: 768px) {
  .menu h1 {
    font-size: 17px;
    margin-left: -10px;
    margin-right: 10px;
  }
  
  .menu ul li a {
    padding: 20px 9px;
    font-size: 13px;
  }

  .intro-content {
    grid-template-columns: 1fr;
  }
  
  .grid-one-content {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 40px;
    margin-bottom: -25px;
    text-align: center;
  }

  a {
    font-size: 20px;
  }

  .home {
    margin-bottom: 10px;
  }

  p {
    font-size: 13.56px;
  }

  h4 {
    padding: 4px;
  }
  
  img.main-background-svg {
    width: 90%;
    margin: 50px 20px;
  }
  
  .main-background-svg {
    margin: auto auto;
  }
  
  img.mobile-background-svg {
    width: 65%;
    margin: 0px 55px;
  }
  
  .mobile-background-svg {
    margin: auto auto;
  }
  
  img.games-background-svg {
    width: 95%;
    margin: 40px 6px;
  }
  
  .games-background-svg {
    margin: auto auto;
  }
  
  img.projects-background-svg {
    width: 60%;
    margin: 0px 62px;
  }
  
  .projects-background-svg {
    margin: auto auto;
  }

  .grid-description {
    text-align: center;
    margin-bottom: 10px;
  }

  .contact-mobile {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .menu h1 {
    margin-left: -14px;
    margin-right: 8px;
  }
  
  .menu ul li a {
    padding: 20px 6px;
    font-size: 12px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: -25px;
    text-align: center;
  }

  a {
    font-size: 15px;
  }

  .home {
    margin-bottom: -10px;
  }

  p {
    font-size: 11.26px;
  }

  h4 {
    padding: 0px;
  }
  
  img.main-background-svg {
    width: 85%;
    margin: 30px 22px;
  }
  
  img.mobile-background-svg {
    width: 60%;
  }
  
  img.games-background-svg {
    width: 90%;
    margin: 0px 14px;
  }
  
  img.projects-background-svg {
    width: 60%;
    margin: -25px 52px;
  }

  .grid-description {
    text-align: center;
    margin-bottom: -5px;
  }

  .contact h2 {
    margin-bottom: 0px;
  }

  .contact-mobile {
    font-size: 11.4px;
  }
}
