@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: -30px;
  text-transform: uppercase;
  line-height: 1.2;
}

h3 {
  font-size: 46px;
  margin-bottom: 50px;
  text-transform: uppercase;
  line-height: 1.2;
}

h4 {
  font-size: 25px;
  padding: 10px 0px;
}

h4 a {
  color: #fff;
}

.grid-one-content h4 a {
  color: #0A1128;
  font-weight: 900;
  font-style: normal;
}

.grid-one-content h4 a:hover {
  color:rgba(128, 128, 128, 0.76);
}

h4 a:hover {
  color:rgba(128, 128, 128, 0.76);
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

.main-background {
  color: white;
  background-color: #170a28;
}

.white-background {
  background-color: white;
  color: #0A1128;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 30px;
}

.section {
  min-height: 100vh;
}

body .full-width {
  flex: 1 1 100%;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 30px;
  min-height: 100vh;
}

.grid-one-content {
  display: grid;
  grid-template-columns: 1.15fr 1fr;
  gap: 30px;
  min-height: 100vh;
}

.intro-text-content {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content a {
  color: white;
  font-style: oblique;
}

.intro-text-content a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.intro-text-content p {
  margin-top: 50px;
}

.grid-main-heading {
  margin-bottom: 30px;
}

.grid-description {
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  .intro-content {
    grid-template-columns: 1fr;
  }
  
  .grid-one-content {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 40px;
    margin-bottom: -25px;
    text-align: center;
  }

  a {
    font-size: 20px;
  }

  p {
    font-size: 15.2px;
  }

  p.tab {
    font-size: 17px;
    margin-bottom: -8px;
  }

  h4 {
    padding: 8px;
  }
  
  .grid-description {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 40px;
    margin-bottom: -25px;
    text-align: center;
  }

  a {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  p.tab {
    font-size: 16px;
    margin-bottom: -12px;
  }

  h4 {
    padding: 4px;
  }

  .grid-description {
    text-align: center;
    margin-bottom: 0px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 36px;
    margin-bottom: -25px;
    text-align: center;
  }

  a {
    font-size: 15px;
  }

  p.tab {
    font-size: 13px;
    margin-bottom: -20px;
  }

  h4 {
    padding: 2px;
  }

  .grid-description {
    text-align: center;
    margin-bottom: -12px;
  }
}
