img.mobile-background-svg {
  width: 150%;
}

.mobile-background-svg { 
  margin: auto 50px;
  margin-top: 100px;
}

@media (max-width: 800px) {
  img.mobile-background-svg {
    width: 70%;
    margin: -10px 55px;
  }
  
  .mobile-background-svg {
    margin: auto auto;
  }
}

@media (max-width: 400px) {
  img.mobile-background-svg {
    width: 58%;
    margin: -25px 65px;
  }
}

@media (max-width: 320px) {
  img.mobile-background-svg {
    width: 54%;
    margin: -24px 60px;
  }
}
